#arrow-back {
  size: 20px;
  color: white;
  width: 45px;
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
}

#reset-btn {
  --border-radius: 20px !important;
   padding-left: 15px;
  margin-top: 15px !important;
  font-size: small;
}